<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vv.cloudfarming.order.dao.mapper.OrderProductSummaryMapper">

    <select id="selectAdoptByOrderNos" resultType="com.vv.cloudfarming.order.dto.common.OrderProductSummaryRecordDTO">
        SELECT order_no AS orderNo,
               adopt_item_id AS adoptItemId,
               item_name AS productName,
               item_image AS coverImage,
               price,
               quantity
        FROM t_order_detail_adopt
        WHERE del_flag = 0
          AND order_no IN
          <foreach collection="orderNos" item="orderNo" open="(" separator="," close=")">
              #{orderNo}
          </foreach>
    </select>

    <select id="selectSkuByOrderNos" resultType="com.vv.cloudfarming.order.dto.common.OrderProductSummaryRecordDTO">
        SELECT order_no AS orderNo,
               spu_id AS spuId,
               sku_name AS productName,
               sku_image AS coverImage,
               price,
               quantity
        FROM t_order_detail_sku
        WHERE del_flag = 0
          AND order_no IN
          <foreach collection="orderNos" item="orderNo" open="(" separator="," close=")">
              #{orderNo}
          </foreach>
    </select>
</mapper>
