<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vv.cloudfarming.order.dao.mapper.OrderMapper">

    <select id="listPayOrderRelations" resultType="com.vv.cloudfarming.order.dto.common.PayOrderOrderRelationDTO">
        SELECT pay_order_no AS payOrderNo,
               order_no AS orderNo
        FROM t_order
        WHERE del_flag = 0
          AND pay_order_no IN
          <foreach collection="payOrderNos" item="payOrderNo" open="(" separator="," close=")">
              #{payOrderNo}
          </foreach>
    </select>

    <update id="updatePayNoByOrderNo">
        UPDATE t_order
        SET pay_order_no = #{payOrderNo}
        WHERE user_id = #{userId}
        AND order_no IN
        <foreach collection="orderNos" item="orderNo" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </update>

    <select id="selectFarmerOrderStatistics" resultType="com.vv.cloudfarming.order.dto.common.FarmerOrderStatisticsAggDTO">
        SELECT COUNT(1) AS orderCount,
               COALESCE(SUM(actual_pay_amount), 0) AS salesAmount,
               COUNT(CASE
                         WHEN create_time <![CDATA[ >= ]]> #{todayStart}
                          AND create_time <![CDATA[ < ]]> #{todayEnd}
                         THEN 1
                     END) AS todayOrderCount,
               COALESCE(SUM(CASE
                                WHEN create_time <![CDATA[ >= ]]> #{todayStart}
                                 AND create_time <![CDATA[ < ]]> #{todayEnd}
                                THEN actual_pay_amount
                                ELSE 0
                            END), 0) AS todaySalesAmount,
               COUNT(CASE
                         WHEN create_time <![CDATA[ >= ]]> #{last7DaysStart}
                          AND create_time <![CDATA[ < ]]> #{todayEnd}
                         THEN 1
                     END) AS last7DaysOrderCount,
               COALESCE(SUM(CASE
                                WHEN create_time <![CDATA[ >= ]]> #{last7DaysStart}
                                 AND create_time <![CDATA[ < ]]> #{todayEnd}
                                THEN actual_pay_amount
                                ELSE 0
                            END), 0) AS last7DaysSalesAmount,
               COUNT(CASE
                         WHEN create_time <![CDATA[ >= ]]> #{last30DaysStart}
                          AND create_time <![CDATA[ < ]]> #{todayEnd}
                         THEN 1
                     END) AS last30DaysOrderCount,
               COALESCE(SUM(CASE
                                WHEN create_time <![CDATA[ >= ]]> #{last30DaysStart}
                                 AND create_time <![CDATA[ < ]]> #{todayEnd}
                                THEN actual_pay_amount
                                ELSE 0
                            END), 0) AS last30DaysSalesAmount
        FROM t_order
        WHERE del_flag = 0
          AND shop_id = #{shopId}
          AND order_status NOT IN
          <foreach collection="excludedStatuses" item="orderStatus" open="(" separator="," close=")">
              #{orderStatus}
          </foreach>
    </select>

    <select id="selectFarmerOrderTrend" resultType="com.vv.cloudfarming.order.dto.common.FarmerOrderTrendAggDTO">
        SELECT DATE_FORMAT(create_time, '%Y-%m-%d') AS statDate,
               COUNT(1) AS orderCount,
               COALESCE(SUM(actual_pay_amount), 0) AS salesAmount
        FROM t_order
        WHERE del_flag = 0
          AND shop_id = #{shopId}
          AND create_time <![CDATA[ >= ]]> #{startTime}
          AND create_time <![CDATA[ < ]]> #{endTime}
          AND order_status NOT IN
          <foreach collection="excludedStatuses" item="orderStatus" open="(" separator="," close=")">
              #{orderStatus}
          </foreach>
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d')
        ORDER BY statDate ASC
    </select>
</mapper>
