server:
  port: 8000
spring:
  application:
    name: cloudfarming-gateway
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      timeout: 10s
      lettuce:
        pool:
          max-active: 200
          max-wait: -1ms
          max-idle: 10
          min-idle: 0
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: order-service
          uri: lb://cloudfarming-order-pay
          predicates:
            - Path=/api/order/**,/api/pay/**,/api/alipay/**

        - id: product-service
          uri: lb://cloudfarming-product
          predicates:
            - Path=/api/adopt/**,/api/attribute/**,/api/cart/**,/api/category/**,/api/shop/**,/api/spu/**,/api/sku/**,/api/skock/**

        - id: user-service
          uri: lb://cloudfarming-user-operation
          predicates:
            - Path=/api/farmer/**,/api/user/**,/api/advert/**,/api/receive-address/**

sa-token:
  token-name: satoken
  timeout: 2592000
  active-timeout: -1
  is-concurrent: false
  is-share: false
  token-style: uuid
  is-log: false

knife4j:
  gateway:
    enabled: true
    strategy: manual
    routes:
      - name: 用户运营服务
        url: /cloudfarming-user-operation/v3/api-docs
        service-name: cloudfarming-user-operation
      - name: 商品服务
        url: /cloudfarming-product/v3/api-docs
        service-name: cloudfarming-product
      - name: 订单服务
        url: /cloudfarming-order-pay/v3/api-docs
        service-name: cloudfarming-order-pay